/* Basic Setup */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.7em;
}

a {
  color: #333;
  text-decoration: none;
}

h1, h2, h3 {
  padding-bottom: 10px;
}

p {
  margin: 10px 0;
}

/* -------Reusable content-------- */

.container {
  margin: auto;
  max-width: 1100px;
  overflow: auto;
  padding: 0 20px;
}

.text-primary {
  color: #f7c08a;
}

.lead {
  font-size: 20px;
}

/* -------backgounds------- */

.bg-dark {
  background-color: #333;
  color: #fff;
}

.bg-primary {
  background-color: #f7c08a;
  color: #333;
}

.bg-light {
  background-color: #fff;
  color: #333;
}

/* ---------buttons------- */

.btn {
  display: inline-block;
  font-size: 18px;
  color: #fff;
  background-color: #333;
  padding: 13px 20px;
  border: none;
  cursor: pointer;
  transition-duration: 0.4s;
  border-radius: 4%;
}

.btn:hover {
  background-color: #f7c08a;
  color: #333;
}

.btn-light {
  background-color: #f7c08a;
  color: #333;
}

.btn-light:hover {
  background-color: #fff;
  color: #333;
}

/* --------Navbar--------- */

.navbar {
  background-color: #333;
  color: #fff;
  overflow: auto;
}

.navbar a {
  color: #fff;
}

.logo {
  float: left;
  padding-top: 20px;
}

.main-nav {
  list-style: none;
  float: right;
}

.main-nav li {
  float: left;
}

.main-nav li a {
  display: block;
  padding: 15px;
  text-align: center;
  transition-duration: 0.4s;
}

.main-nav li a:hover, .main-nav li a.current {
  background-color: #444;
  color: #f7c08a;
}

/* ------section: showcase--------- */

.showcase {
  background: url(https://images.unsplash.com/photo-1551882547-ff40c63fe5fa?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80) no-repeat center center/cover;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(5, 5, 5, 0.2)), url(https://images.unsplash.com/photo-1551882547-ff40c63fe5fa?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80);
  height: 80vh;
  background-attachment: fixed;
}

.showcase-content {
  color: #fff;
  text-align: center;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.showcase-content h1 {
  font-size: 60px;
  line-height: 1.2em;
}

.showcase-content h1 p {
  padding-bottom: 20px;
  line-height: 1.7em;
}

/* -------section: home info--------- */

.home-info {
  height: 400px;
  /* background-color: aquamarine; */
}

.info-img {
  background: url(https://images.unsplash.com/photo-1571003123894-1f0594d2b5d9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1287&q=80) no-repeat center center/cover;
  float: left;
  width: 50%;
  min-height: 100%;
}

.info-content {
  float: right;
  width: 50%;
  height: 100%;
  text-align: center;
  padding: 50px 30px;
  overflow: hidden;
}
.info-content p {
  padding-bottom: 20px;
}