/* Basic Setup */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.7em;
}

a {
    color: #333;
    text-decoration: none;
}

h1, h2, h3 {
    padding-bottom: 10px;
}

p {
    margin: 10px 0;
}
/* --------Navbar--------- */
.navbar {
    background-color: #333;
    color: #fff;
    overflow: auto;
}
.navbar a {
    color: #fff;
}
.logo {
    float: left;
    padding-top: 20px;
}
.main-nav {
    list-style: none;
    float: right;
}
.main-nav li {
    float: left;
}.main-nav li a {
    display: block;
    padding: 20px;
    text-align: center;
}
.main-nav li a